body {
    background-image: url('../../public/asset/ip12.png') !important;
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
}

body.game-background {
    background-image: url('../../public/asset/sea.png') !important;
    background-size: 400%;
}

.button-group {
    width: 30%; /* Adjust width or any other property as needed */
    
}