body {
    background-image: url('../../public/asset/phoneL.png') !important;
    background-size: 100%; 
    background-position: center; 
    background-repeat: no-repeat; 
}

body.game-background {
    background-image: url('../../public/asset/sea.png') !important;
    background-size: 360%;
}

.button-group {
    width: 100%; /* Specify the unit */
}
